<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="./cinepolis.component.css">-->
    <title>RESISTENCIAS</title>
</head>
<body>

    <div class="container">
        <div class="title">RESISTENCIAS</div>
        <div class="box">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Selecciona una opcion</option>
                <option value="1">Negro</option>
                <option value="2">Cafe</option>
                <option value="3">Rojo</option>
                <option value="3">Naranja</option>
                <option value="3">Amarillo</option>
                <option value="3">Verde</option>
                <option value="3">Azul</option>
                <option value="3">Violeta</option>
                <option value="3">Gris</option>
                <option value="3">Blanco</option>
            </select>
        </div>
    </div>
</body>
</html>
