
<div class="container">
  <div class="row">
   <!--<h1>IEVN1003</h1>-->
    <!--<hr>-->
    <!--<app-product-list></app-product-list>-->
    <!--<app-ejemplo1></app-ejemplo1>-->
    <app-cinepolis></app-cinepolis>
     <!--<app-resistencias-angular></app-resistencias-angular>-->
  </div>
</div>

<!-- <h1>Hola Ivan tonoto</h1> 
<p>Eso es un saludo ...</p>
<div>
  {{title}}
</div>

<div>La suma de 2+2 es {{2+2}}</div>
<div>el doble de 3 es {{duplicarNumero(3)}}</div>

<h2>Datos de la Pelicula</h2>
<div>El nombre de la pelicula es: {{pelicula.nombre | uppercase}}</div>

<div>El año de la pelicula es: {{pelicula.fechaLanzamiento}}</div>
<div>El año de la pelicula es: {{pelicula.fechaLanzamiento | date: "dd-MM-yy"}}</div>
<div>El precio es de: {{pelicula.precio| currency}}</div>-->